body {
    
    font-family: sans-serif;
    text-align: justify;
    font-family: 'Gugi', cursive;

}

h2{

    color: #40c4ff;
    text-decoration: underline;

}

h1{

    text-align: center;

}

li {

    font-size: 14px;
    line-height: 30px;

}