input:focus {
  background-color: rgb(241, 204, 255);
}
textarea:focus{
  background-color: rgb(243, 204, 255);
}

textarea {
  resize: vertical;
  width: 320px;

}

a:hover {

  text-decoration-color: red;
  color: red;
  font-weight: bolder;
  text-decoration: underline overline;

}

img {

  height: 400px;
  width: 400px;
  

}

img {

 border-radius: 50%;
 

}

body {

  background-color: rgb(220, 234, 247); 

}

.image{

  width: 40px;
  height: 40px;

}
