body {

    background-color: greenyellow;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
    
}

li {

    text-align: center;


}